<footer>
</footer>

</body>


<!-- Javascript files -->


<!-- CDNs -->
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- <script defer src="https://unpkg.com/@popperjs/core@2"></script> -->
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script defer src="https://kit.fontawesome.com/cdc0f69a5d.js" crossorigin="anonymous"></script>


<!-- custom js -->
<script defer type="text/javascript" src="/js/component.js"></script>
<script defer type="text/javascript" src="/js/service.js"></script>



</html>