<! DOCTYPE html >
<html>
<head>
<title>Simple Test</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/images/favicon.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">

          
<link rel="stylesheet" href="/css/style.css">






</head>

<body>

    
   
  
    <!-- Just an image -->


    <div id="nav_bar">
        

        <nav class="navbar navbar-dark text-white bg-dark">
            <div style="display:flex">
                
                <h5><a href="/" style="color:white;">Simple Test</a></h5>
                <h4>|</h4>
                <% if(user){ %>
                <h5>
                    <%= user.username %>
                </h5>
                <%if(user.account==1){%>
                    <a href="/question/" class="btn btn-info">Add New Question</a>
                <%}%>
                <a class="btn btn-warning" href="/user/logout">Logout</a>
                <%}else{%>
                    <a href="/user" class="btn btn-light">Login or Sign Up</a>

                    <%}%>
            </div>
        
        
        </nav>

    </div>
    <div class="main">

    