<%- include('partials/header'); %>
<!-- main -->
<div class="container">
<div class="card">
    <div class="card-header bg-dark text-white">
        Login
    </div>
    <div class="card-body">
        <div class="row">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="Uemail" placeholder="Enter your email address">
        </div>
        <div class="row">
        <label for="password">Password</label>
        <input class="form-control" type="text" id="Upassword" placeholder="Enter your Password">
        </div>
        <button class="btn btn-dark" id="loginBTN">Login</button>
    </div>
</div>


<div class="card">
    <div class="card-header bg-dark text-white">
        New User
    </div>
    <div class="card-body">
        <div class="row">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" placeholder="Enter your email address">
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input class="form-control" type="text" id="password" placeholder="Enter your password address">
    </div>
    <div class="row">
        <label for="firstname">Firstname</label>
        <input class="form-control" type="text" id="firstname" placeholder="Enter your firstname address">
    </div>
    <div class="row">
        <label for="lastname">Lastname</label>
        <input class="form-control" type="text" id="lastname" placeholder="Enter your lastname address">
    </div>
    <div class="row">
    
        <label for="email">Select Account Type</label>
        <select class="form-control" id="email" >
            <option hidden>Account</option>
        <option value="Admin">Admin</option>
        <option value="Student">Student</option>
        </select>
        </div>

        <button class="btn btn-dark" id="signupBTN">Sign Up</button>
    </div>
</div>

</div>

<!-- main -->
<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/user.js"></script>